@{
    ViewData["Title"] = "Transações Financeiras";
}

<h2>@ViewData["Title"]</h2>
<div class="d-flex justify-content-end">
    <a role="button" href="/Transacao/Cadastro" type="button" class="btn btn-primary">Registrar Transação</a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Histórico</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th>
            <th scope="col">Plano Conta</th>
            <th scope="col">Método de Pagamento</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Data</td>
                    <td>@item.Historico</td>
                    <td>@item.Valor</td>
                    <td>@item.ItemPlanoConta.Tipo</td>
                    <td>@item.ItemPlanoConta.Descricao</td>
                    <td>@item.ItemMetodoPagamento?.Tipo</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" onclick="Editar(@item.Id)">
                            Editar
                        </button>
                        <button type="button" class="btn btn-outline-danger" onclick="Excluir(@item.Id)">
                            Excluir
                        </button>
                    </td>
                </tr>
            }    
        }
    </tbody>
</table>

 <script>
     function Editar(id) {
        window.location.href = "/Transacao/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "/Transacao/Excluir/" + id;
    }
</script>